body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #121212;
    color: #80deea;
}

body #root .App {
    min-height: calc(100vh - 53px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121212;
    color: #80deea;
}
header {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction:  column;
    justify-content: center;
}

input {
    width: 50%;
    padding: 8px;
    margin: 16px;
    background: #212121;
    border-width: 0px 0px 1px;
    outline: none;
    font-size: 16px;
    color: #e0f7fa;
    border-radius: 4px 4px 0px 0px;
}

input::-webkit-input-placeholder {
    color: #455a64;
}

input:focus::-webkit-input-placeholder {
    color: #b0bec5;
}


.list-task {
    flex-grow: 2;
    width: 60%;
    align-self: center;
}

.list-task ul {
    list-style:  none;
    padding: 0px;
    display: block;
    width: 100%;
}

.list-task li {
    position: relative;
    padding: 16px;
    margin: 10px 0px;
    background: #212121;
    border-radius: 4px;
    cursor: pointer;
    color: #b2ebf2;
}

.list-task li span {
    position: absolute;
    right: 16px;
    color: #f44336;
    cursor: pointer;
}

.task-completed {
    text-decoration: line-through;
}

#form-login {
    padding: 16px;
    border-radius: 8px;
    backgroud: #1a1616;
    -webkit-box-shadow: 1px 2px 7px 6px #3a3636; 
    box-shadow: 1px 2px 7px 6px #3a3636;
}

#form-login label{
    display: block;
}

#form-login input{
    margin: 8px 0px;
    width: auto;
}

#form-login h2 {
    text-align: center;
}

.form-group.submit-button {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #dedede;
}

.text-center {
    text-align: center;
}

nav {
    background: #212121;
    padding: 8px;
}